streamlit
langchain==0.2.14
langchain-community==0.2.14
langchain-core==0.2.14
langchain-text-splitters==0.2.2
langchain-huggingface==0.3.1
google-generativeai
PyPDF2
faiss-cpu
sentence-transformers
transformers
torch
numpy
pandas
scikit-learn
python-dotenv

























